In [1]:
import pandas as pd

In [4]:
df = pd.read_excel("dados.rev2.xlsx")

In [5]:
df.head()

,Data,Categoria,Tipo,Razão Social,Valor,Transação
0,2024-01-05,Serviços,Fornecedor,PowerCont,1500.0,Pagamento
1,2024-01-06,Serviços - Desenvolvimento,Cliente,BuildIt,8000.0,Recebimento
2,2024-01-07,Serviços - Desenvolvimento,Cliente,TechSolutions,2500.0,Recebimento
3,2024-01-08,Serviços -Consultoria,Cliente,GreenEnergy,6000.0,Recebimento
4,2024-01-09,Serviços - Desenvolvimento,Cliente,Innovatech,8000.0,Recebimento

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Data          183 non-null    datetime64[ns]
 1   Categoria     183 non-null    object
 2   Tipo          183 non-null    object
 3   Razão Social  183 non-null    object
 4   Valor         183 non-null    float64
 5   Transação     183 non-null    object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 8.7+ KB